input {
    display: inline-block!important;
    
}
html {
    font-family: sans-serisf;
}
.searchbtn {
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}
.searchbar {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
.searchbar:focus {
    border-color: rgb(222,226,230);
    box-shadow: none; 
}
.rmpadding {
    padding: 0;
}

.h1Padding {
    padding-top: 1rem;
    padding-bottom: 0.7rem;
}

.shows{
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 14px 0px rgba(66, 68, 90, 1);
    overflow-wrap: normal;
    max-width: 210px;
    text-decoration: none;
}
.showsPlace {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 1210px;
    
}

.flex {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    text-decoration: none;
    color: inherit;
}